.restaurant-menu {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 956px;
}

.nav__menu__item {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
  text-decoration: none;
  margin-right: 40px;
}

.nav__menu__item:hover {
  color: var(--green);
}
